---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 slot="title">Recursos | SnackCode</h1>

  <main class="container py-5" id="recurso">
    <h1 class="text-center text-primary fw-bold mb-5">
      Recursos útiles para devs 🎉
    </h1>

     <section class="mb-5">
        <h3 class="titulos-tablas-recursos">Para keyframes en CSS (animaciones web)</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://animista.net/" target="_blank">Animista</a>
                </td>
                <td>
                  <a href="https://ianlunn.github.io/Hover/" target="_blank">Hover.css</a>
                </td>
                <td>
                  <a href="https://elrumordelaluz.github.io/csshake/" target="_blank">CSShake</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://css-loaders.com/" target="_blank">CSS Loaders</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="mb-5">
        <h3 class="titulos-tablas-recursos">Para keyframes en After Effects / Motion Design</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://motionarray.com/" target="_blank">Motion Array</a>
                </td>
                <td>
                  <a href="https://elements.envato.com/es/" target="_blank">Envato Elements</a>
                </td>
                <td>
                  <a href="https://mixkit.co/" target="_blank">Mixkit</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.videezy.com/" target="_blank">Videezy</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="mb-5">
        <h3 class="titulos-tablas-recursos">Para JavaScript y librerías de animación (con keyframes)</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://gsap.com/" target="_blank">GSAP (GreenSock)</a>
                </td>
                <td>
                  <a href="https://www.framer.com/motion/" target="_blank">Framer Motion</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

    <section class="mb-5">
        <h3 class="titulos-tablas-recursos">PNGs Transparentes</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://www.cleanpng.com/" target="_blank">CleanPNG</a>
                </td>
                <td>
                  <a href="https://www.freepng.com/" target="_blank">FreePNG</a>
                </td>
                <td>
                  <a href="https://icons8.com/icons" target="_blank">Icons8 PNGs</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.kindpng.com/" target="_blank">KindPNG</a>
                </td>
                <td>
                  <a href="https://www.pikpng.com/" target="_blank">PikPNG</a>
                </td>
                <td>
                  <a href="https://www.pngkey.com/" target="_blank">PNGKey</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.pngegg.com/" target="_blank">PNGEgg</a>
                </td>
                <td>
                  <a href="https://www.topPNG.com/" target="_blank">TopPNG</a>
                </td>
                <td>
                  <a href="https://www.similarpng.com/" target="_blank">SimilarPNG</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.stickpng.com/" target="_blank"
                    >StickPNG</a
                  >
                </td>
                <td>
                  <a href="https://www.totalpngs.com/" target="_blank"
                    >TotalPNGs</a
                  >
                </td>
                <td>
                  <a href="https://www.pngtree.com/" target="_blank">PNGTree</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      
      <section class="mb-5">
        <h3 class="titulos-tablas-recursos">Imágenes de Stock Gratuitas</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://unsplash.com/" target="_blank">Unsplash</a>
                </td>
                <td>
                  <a href="https://pexels.com/" target="_blank">Pexels</a>
                </td>
                <td>
                  <a href="https://pixabay.com/" target="_blank">Pixabay</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://freepik.com/" target="_blank">Freepik</a>
                </td>
                <td>
                  <a href="https://kaboompics.com/" target="_blank"
                    >Kaboompics</a
                  >
                </td>
                <td>
                  <a href="https://freeimages.com/" target="_blank"
                    >FreeImages</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://burst.shopify.com/" target="_blank">Burst</a>
                </td>
                <td>
                  <a href="https://stockvault.net/" target="_blank"
                    >StockVault</a
                  >
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="mb-5">
        <h3 class="titulos-tablas-recursos">Mockups</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://www.mockupworld.co/" target="_blank"
                    >MockupWorld</a
                  >
                </td>
                <td>
                  <a href="https://unblast.com/" target="_blank">Unblast</a>
                </td>
                <td>
                  <a href="https://www.freepik.com/" target="_blank">Freepik</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.pixeden.com/" target="_blank">Pixeden</a>
                </td>
                <td>
                  <a href="https://psdrepo.com/" target="_blank">PSDRepo</a>
                </td>
                <td>
                  <a href="https://mockups-design.com/" target="_blank"
                    >Mockups Design</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.ls.graphics/" target="_blank"
                    >LS Graphics</a
                  >
                </td>
                <td>
                  <a href="https://www.pixelsurplus.com/" target="_blank"
                    >Pixel Surplus</a
                  >
                </td>
                <td>
                  <a href="https://minimalmockups.com/mockup/" target="_blank"
                    >Minimal Mockups</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://thememockup.club/mockups" target="_blank"
                    >ThemeMockup Club</a
                  >
                </td>
                <td>
                  <a href="https://mockuptree.com/" target="_blank"
                    >MockupTree</a
                  >
                </td>
                <td>
                  <a href="https://www.graphicpear.com/" target="_blank"
                    >GraphicPear</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://mrmockup.com/" target="_blank">MrMockup</a>
                </td>
                <td>
                  <a href="https://smartymockups.com/" target="_blank"
                    >SmartyMockups</a
                  >
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="mb-5">
        <h3 class="titulos-tablas-recursos">Ilustraciones y Dibujos</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://www.humaaans.com/" target="_blank"
                    >Humaaans</a
                  >
                </td>
                <td><a href="https://undraw.co/" target="_blank">unDraw</a></td>
                <td>
                  <a href="https://icons8.com/illustrations" target="_blank"
                    >Icons8 Illustrations</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://blush.design" target="_blank">Blush</a>
                </td>
                <td>
                  <a href="https://www.opendoodles.com/" target="_blank"
                    >OpenDoodles</a
                  >
                </td>
                <td>
                  <a
                    href="https://uistore.design/items/ouch-free-illustrations/"
                    target="_blank"
                    >Ouch! by UIStore</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="https://craftwork.design/download/category/freebies"
                    target="_blank"
                    >Craftwork Freebies</a
                  >
                </td>
                <td>
                  <a href="https://www.drawkit.com/" target="_blank">DrawKit</a>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="mb-5">
        <h3 class="titulos-tablas-recursos">Tipografías Gratuitas</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://fonts.google.com/" target="_blank"
                    >Google Fonts</a
                  >
                </td>
                <td>
                  <a href="https://www.dafont.com/" target="_blank">DaFont</a>
                </td>
                <td>
                  <a href="https://www.fontsquirrel.com/" target="_blank"
                    >FontSquirrel</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.fontshare.com/" target="_blank"
                    >FontShare</a
                  >
                </td>
                <td>
                  <a href="https://www.cufonfonts.com/" target="_blank"
                    >CufonFonts</a
                  >
                </td>
                <td>
                  <a href="https://www.fontspace.com/" target="_blank"
                    >FontSpace</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://fontbundles.net/free-fonts" target="_blank"
                    >FontBundles (Free)</a
                  >
                </td>
                <td>
                  <a href="https://www.urbanfonts.com/" target="_blank"
                    >UrbanFonts</a
                  >
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="mb-5">
        <h3 class="titulos-tablas-recursos">Paletas y Herramientas de Color</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://color.adobe.com/" target="_blank"
                    >Adobe Color</a
                  >
                </td>
                <td>
                  <a href="https://coolors.co/" target="_blank">Coolors</a>
                </td>
                <td>
                  <a href="https://colorhunt.co/" target="_blank">ColorHunt</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.khroma.co/" target="_blank">Khroma</a>
                </td>
                <td>
                  <a href="https://colors.muz.li/" target="_blank"
                    >Muzli Colors</a
                  >
                </td>
                <td>
                  <a href="https://colors.dopely.top/" target="_blank"
                    >Dopely Colors</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://flatuicolors.com/" target="_blank"
                    >Flat UI Colors</a
                  >
                </td>
                <td>
                  <a href="https://paletton.com/" target="_blank">Paletton</a>
                </td>
                <td>
                  <a href="https://www.happyhues.co/" target="_blank"
                    >Happy Hues</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://colors.eva.design/" target="_blank"
                    >Eva Colors</a
                  >
                </td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="mb-5">
        <h3 class="titulos-tablas-recursos">Iconos</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://icons8.com/icons" target="_blank">Icons8</a>
                </td>
                <td>
                  <a href="https://iconsax.io/" target="_blank">IconSax</a>
                </td>
                <td>
                  <a href="https://www.figma.com/community" target="_blank"
                    >Figma Community</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://iconscout.com/free-icons" target="_blank"
                    >IconScout</a
                  >
                </td>
                <td>
                  <a href="https://fonts.google.com/icons" target="_blank"
                    >Google Icons</a
                  >
                </td>
                <td>
                  <a href="https://feathericons.com/" target="_blank"
                    >Feather Icons</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.flaticon.com/" target="_blank"
                    >Flaticon</a
                  >
                </td>
                <td>
                  <a href="https://thenounproject.com/" target="_blank"
                    >The Noun Project</a
                  >
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="mb-5">
        <h3 class="titulos-tablas-recursos">Packs 3D</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://ui8.net/categories/freebies" target="_blank"
                    >UI8 Freebies</a
                  >
                </td>
                <td>
                  <a href="https://icons8.com/illustrations/3d" target="_blank"
                    >Icons8 3D</a
                  >
                </td>
                <td>
                  <a href="https://iconscout.com/l/3d-hands/" target="_blank"
                    >IconScout 3D Hands</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://gumroad.com/l/bamillu" target="_blank"
                    >Gumroad – Bamillu</a
                  >
                </td>
                <td>
                  <a href="https://www.freepik.com/" target="_blank">Freepik</a>
                </td>
                <td>
                  <a href="https://3dicons.co/" target="_blank">3DIcons</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://shapefest.com/" target="_blank">ShapeFest</a>
                </td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="mb-5">
        <h3 class="titulos-tablas-recursos">Inspiración de diseño</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-hover align-middle">
            <tbody>
              <tr>
                <td>
                  <a href="https://mobbin.com/" target="_blank">Mobbin</a>
                </td>
                <td>
                  <a href="https://www.behance.net/" target="_blank">Behance</a>
                </td>
                <td>
                  <a href="https://www.awwwards.com/" target="_blank"
                    >Awwwards</a
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.pinterest.com/" target="_blank"
                    >Pinterest</a
                  >
                </td>
                <td>
                  <a href="https://www.uplabs.com/" target="_blank">UpLabs</a>
                </td>
                <td>
                  <a href="https://godly.website/" target="_blank">Godly</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://dribbble.com/" target="_blank">Dribbble</a>
                </td>
                <td><a href="https://muz.li/" target="_blank">Muzli</a></td>
                <td>
                  <a href="https://www.notion.so/" target="_blank">Notion</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="https://www.designspiration.com/" target="_blank"
                    >Designspiration</a
                  >
                </td>
                <td>
                  <a href="https://land-book.com/" target="_blank">Land-Book</a>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

    <div class="text-center mt-1">
      <a href="/" class="btn btn-outline-primary">← Volver al inicio</a>
    </div>
  </main>
</Layout>
